:root {
  --scale: min(100vh, 100vw);
}

#grid {
  --size: min(90vh, 90vw);
  width: var(--size);
  height: var(--size);
  max-height: 14cm;
  max-width: 14cm;
  gap: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#box {
  padding: 0 5%;
  border-radius: 1%;
  background-color: #ffffff2f;
  box-shadow: 5px 5px 6px gray;

  height: fit-content;
  width: fit-content;

  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

body {
  background-color: #7fcb7c;
  text-size-adjust: none;
}

p {
  text-align: center;
  font-family: monospace;
  font-size: 150%;
  color: #6d479f;
}

button {
  border-radius: 5%;
  border-color: #00000000;
  box-shadow: 3px 3px 3px dimgrey;
  width: 100%;
  height: 100%;
  color: #7fcb7c;
  font-family: monospace;
  cursor: pointer;
}

